In [3]:
pip install nbformat

Requirement already satisfied: nbformat in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (5.9.2)
Requirement already satisfied: fastjsonschema in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from nbformat) (4.21.1)
Requirement already satisfied: jupyter-core in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from nbformat) (5.7.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from nbformat) (5.14.1)
Requirement already satisfied: attrs>=22.2.0 in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.33.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from jupyter-core->nbformat) (4.2.0)
Requirement already satisfied: pywin32>=300 in c:\users\admin\desktop\newfolder\.venv\lib\site-packages (from jupyter-core->nbformat) (306)
Note: you may need to restart the kernel to use updated packages.

In [1]:

import pandas as pd
import plotly.express as px
import pymysql
import json
import requests

In [5]:
# SQL connection
mydb = pymysql.connect(
    host="localhost",
    user="root",
    password="MYSQL0507",
    database="PhonepeData"
)
cursor = mydb.cursor()

In [6]:


#aggregated insurance
cursor.execute("SELECT * FROM aggregated_insurance")
table1 = cursor.fetchall()
mydb.commit()

# Create DataFrame
Aggre_insurance = pd.DataFrame(table1, columns=("States", "Years", "Quarter", "Transaction_type",
                                                "Transaction_count", "Transaction_amount"))

#aggregated transaction
cursor.execute("SELECT * FROM aggregated_transaction")
table2 = cursor.fetchall()
mydb.commit()

# Create DataFrame
Aggre_transaction = pd.DataFrame(table2, columns=("States", "Years", "Quarter", "Transaction_type",
                                                "Transaction_count", "Transaction_amount"))


#aggregated user
cursor.execute("SELECT * FROM aggregated_user")
table3 = cursor.fetchall()
mydb.commit()

# Create DataFrame
Aggre_user = pd.DataFrame(table3, columns=("States", "Years", "Quarter", "Brands",
                                                "Transaction_count", "Percentage"))


 #map insurance
cursor.execute("SELECT * FROM map_insurance")
table4 = cursor.fetchall()
mydb.commit()

# Create DataFrame
map_insurance = pd.DataFrame(table4, columns=("States", "Years", "Quarter", "Districts",
                                                "Transaction_count", "Transaction_amount"))


#map transaction
cursor.execute("SELECT * FROM map_transaction")
table5 = cursor.fetchall()
mydb.commit()

# Create DataFrame
map_transaction = pd.DataFrame(table5, columns=("States", "Years", "Quarter", "Districts",
                                                "Transaction_count", "Transaction_amount"))


#map user
cursor.execute("SELECT * FROM map_user")
table6 = cursor.fetchall()
mydb.commit()

# Create DataFrame
map_user = pd.DataFrame(table6, columns=("States", "Years", "Quarter", "Districts",
                                                "RegisteredUser", "AppOnes"))


#top insurance
cursor.execute("SELECT * FROM top_insurance")
table7 = cursor.fetchall()
mydb.commit()

# Create DataFrame
top_insurance = pd.DataFrame(table7, columns=("States", "Years", "Quarter", "Pincodes",
                                                "Transaction_count", "Transaction_amount"))

#top transaction
cursor.execute("SELECT * FROM top_transaction")
table8 = cursor.fetchall()
mydb.commit()

# Create DataFrame
top_transaction = pd.DataFrame(table8, columns=("States", "Years", "Quarter", "Pincodes",
                                                "Transaction_count", "Transaction_amount"))


#top user
cursor.execute("SELECT * FROM top_user")
table9 = cursor.fetchall()
mydb.commit()

# Create DataFrame
top_user = pd.DataFrame(table9, columns=("States", "Years", "Quarter", "Pincodes",
                                                "RegisteredUsers"))

In [7]:
def Transaction_amount_count_Y(df,year):
    X=df[df["Years"]==year]
    X.reset_index(drop = True, inplace=True)

    X1=X.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    X1.reset_index(inplace=True)

    figamount=px.bar(X1,x="States",y="Transaction_amount",title=f"{year} TRANSACTION_AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    figamount.show()

    figamount=px.bar(X1,x="States",y="Transaction_count",title=f"{year}TRANSACTION_COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r,height=650,width=600)
    figamount.show()

    url= "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name= []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    figindia=px.choropleth( X1, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                        color="Transaction_amount",color_continuous_scale="Rainbow",
                        range_color=(X1["Transaction_amount"].min(), X1["Transaction_amount"].max()), 
                        hover_name="States", title=f"{year} TRANSACTION AMOUNT",fitbounds="locations",
                        height=650,width=600)

    figindia.update_geos(visible=False)
    figindia.show()
    return X

In [ ]:
Transaction_amount_count_Y(Aggre_insurance,2023)

In [9]:
def Transaction_amount_count_Y(df, year):
    X = df[df["Years"] == year]
    X.reset_index(drop=True, inplace=True)

    X1 = X.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    X1.reset_index(inplace=True)

    figamount = px.bar(X1, x="States", y="Transaction_amount", title=f"{year} TRANSACTION_AMOUNT",
                       color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
    figamount.show()

    figamount = px.bar(X1, x="States", y="Transaction_count", title=f"{year} TRANSACTION_COUNT",
                       color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    figamount.show()


    
    #india map                                                                                                                                                                             
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    figindia = px.choropleth(X1, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_amount", color_continuous_scale="Rainbow",
                              range_color=(X1["Transaction_amount"].min(), X1["Transaction_amount"].max()), 
                              hover_name="States", title=f"{year} TRANSACTION AMOUNT", fitbounds="locations",
                              height=650, width=600)

    figindia.update_geos(visible=False)
    figindia.show()

    
    figindia2 = px.choropleth(X1, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_count", color_continuous_scale="Rainbow",
                              range_color=(X1["Transaction_count"].min(), X1["Transaction_count"].max()), 
                              hover_name="States", title=f"{year} TRANSACTION COUNT", fitbounds="locations",
                              height=650, width=600)

    figindia2.update_geos(visible=False)
    figindia2.show()

    return X

In [ ]:
TAC=Transaction_amount_count_Y(Aggre_insurance,2021)
TAC

In [11]:
TAC["Years"].unique()

array([2021], dtype=int64)

In [12]:
def Transaction_amount_count_Y_Q(df, quarter):
    X = df[df["Quarter"] == quarter]
    X.reset_index(drop=True, inplace=True)

    X1 = X.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    X1.reset_index(inplace=True)

    figamount = px.bar(X1, x="States", y="Transaction_amount", title=f"{X['Years'].unique()} Year {quarter} QUARTER TRANSACTION AMOUNT",
                       color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
    figamount.show()

    figamount = px.bar(X1, x="States", y="Transaction_count", title=f"{X['Years'].unique()} Year {quarter} QUARTER TRANSACTION COUNT",
                       color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    figamount.show()


    
    #india map                                                                                                                                                                             
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    figindia = px.choropleth(X1, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_amount", color_continuous_scale="Rainbow",
                              range_color=(X1["Transaction_amount"].min(), X1["Transaction_amount"].max()), 
                              hover_name="States", title=f"{X['Years'].unique()} Year {quarter} QUARTER TRANSACTION AMOUNT", fitbounds="locations",
                              height=650, width=600)

    figindia.update_geos(visible=False)
    figindia.show()

    
    figindia2 = px.choropleth(X1, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_count", color_continuous_scale="Rainbow",
                              range_color=(X1["Transaction_count"].min(), X1["Transaction_count"].max()), 
                              hover_name="States", title=f"{X['Years'].unique()} Year {quarter} QUARTER TRANSACTION COUNT", fitbounds="locations",
                              height=650, width=600)

    figindia2.update_geos(visible=False)
    figindia2.show()

    return X

In [13]:
#Transaction type 
def Aggre_tran_Transaction_type(df,state):

    X=TAC2[TAC2["States"]== "West Bengal"]
    X.reset_index(drop= True, inplace=True)

    X1=X.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    X1.reset_index(inplace=True)
    #X1

    figpie1=px.pie(data_frame=X1,names="Transaction_type",values="Transaction_amount",
                    width=600,title=f"{state.upper()} TRANSACTION AMOUNT",hole=0.5)
    figpie1.show()


    figpie2=px.pie(data_frame=X1,names="Transaction_type",values="Transaction_count",
                    width=600,title=f"{state.upper()} TRANSACTION COUNT",hole=0.5)
    figpie2.show()

In [147]:
#AGG_USER_ANALYSIS_1
def Aggre_user_plot_1(df,year):
    AGUY=Aggre_user[Aggre_user["Years"]==year]
    AGUY.reset_index(drop=True,inplace=True)

    AGUYG=pd.DataFrame(AGUY.groupby("Brands")["Transaction_count"].sum())
    AGUYG.reset_index(inplace=True)

    figbar1=px.bar(AGUYG,x="Brands",y="Transaction_count",title="BRANDS AND TRANSACTION COUNT",
                width=750,color_discrete_sequence=px.colors.sequential.haline_r)
    figbar1.show()
    return AGUY

In [15]:
#AGGREGATED ANALYSIS USER 2
def Aggre_user_plot_2(df,quarter):
    AGUYQ=df[df["Quarter"]==quarter]
    AGUYQ.reset_index(drop=True,inplace=True)
    

    AGUYQG=pd.DataFrame(AGUYQ.groupby("Brands")["Transaction_count"].sum())
    AGUYQG.reset_index(inplace= True)
    


    figbar1=px.bar(AGUYQG,x="Brands",y="Transaction_count",title=f"{quarter}QUARTER, BRANDS AND TRANSACTION COUNT",
                width=750,color_discrete_sequence=px.colors.sequential.haline,hover_name="Brands")
    figbar1.show()
    return AGUYQ

In [16]:
def Aggre_user_plot_3(df, state):
    AGUYQS = df[df["States"] == state] 
    AGUYQS.reset_index(drop=True, inplace=True)

    figline1 = px.line(AGUYQS, x="Brands", y="Transaction_count", hover_data="Percentage",
                       title=f"{state.upper()}BRANDS, TRANSACTION COUNT, PERCENTAGE", width=1000, markers=True)
    figline1.show()

In [17]:
#Transaction type 
def Map_ins_dist(df,state):

    X=df[df["States"]== state]
    X.reset_index(drop= True, inplace=True)

    X1=X.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum()
    X1.reset_index(inplace=True)
    #X1

    figpie1=px.bar(data_frame=X1,y="Districts",x="Transaction_amount",orientation="h",
                    title=f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT",color_discrete_sequence=px.colors.sequential.Mint_r)

    figpie1.show()


    figpie2=px.bar(data_frame=X1,y="Districts",x="Transaction_count",orientation="h",
                    title=f"{state.upper()} DISTRICT AND TRANSACTION COUNT",color_discrete_sequence=px.colors.sequential.Bluered)
    figpie2.show()

In [ ]:
#Map user plot 1
def map_user_plot1(df,year):
    MUY=df[df["Years"]==year]
    MUY.reset_index(drop=True,inplace=True)

    MUYG=pd.DataFrame(MUY.groupby("States")[["RegisteredUser","AppOnes"]].sum())
    MUYG.reset_index(inplace=True)


    figline1 = px.line(MUYG, x="States", y=["RegisteredUser", "AppOnes"],
                        title=f"{year} RESIDTERED USER, APPOPENS", width=1000,height=800, markers=True)
    figline1.show()

    return MUY

In [ ]:
#Map user plot 1
def map_user_plot2(df,quarter):
    MUYQ=df[df["Quarter"]==quarter]
    MUYQ.reset_index(drop=True,inplace=True)

    MUYQG=pd.DataFrame(MUYQ.groupby("States")[["RegisteredUser","AppOnes"]].sum())
    MUYQG.reset_index(inplace=True)


    figline1 = px.line(MUYQG, x="States", y=["RegisteredUser", "AppOnes"],
                        title=f"{quarter} REGISTERED USER, APPOPENS", width=1000,height=800, markers=True,
                        color_discrete_sequence=px.colors.sequential.Rainbow)
    st.plotly_chart(figline1).show()

    return MUYQ

In [102]:
#map user plot 3
def map_user_plot3(df,states):
    MUYQS=df[df["States"]== states]
    MUYQS.reset_index(drop=True,inplace=True)

    figMUbar1=px.bar(MUYQS, x="RegisteredUser",y="Districts",orientation="h",
                    title="REGISTERED USER",height=750, color_discrete_sequence=px.colors.sequential.Aggrnyl)

    figMUbar1.show()

    figMUbar2=px.bar(MUYQS, x="AppOnes",y="Districts",orientation="h",
                    title="APP OPENS",height=750, color_discrete_sequence=px.colors.sequential.Aggrnyl)

    figMUbar2.show()

In [120]:
#TOP INSURANCE PLOT 1
def Top_ins_plot1(df,state):   
    tiy=df[df["States"]==state]
    tiy.reset_index(drop=True,inplace=True)
    #tiy
    tiyg=pd.DataFrame(tiy.groupby("Pincodes")[["Transaction_count","Transaction_amount"]].sum())
    tiyg.reset_index(inplace=True)
    col1,col2=st.columns(2)
    with col1:
        figTIbar1=px.bar(tiy, y="Transaction_amount",x="Quarter",hover_data="Pincodes",
                        title=f"{state.upper()} TRANSACTION AMOUNT",height=750, color_discrete_sequence=px.colors.sequential.Aggrnyl)

        figTIbar1.show()
    with col2:
        figTIbar2=px.bar(tiy, y="Transaction_count",x="Quarter",hover_data="Pincodes",
                        title=f"{state.upper()} TRANSACTION COUNT",height=750, color_discrete_sequence=px.colors.sequential.Aggrnyl)

        figTIbar2.show()

In [ ]:
#TOP_USER_ANALYSIS_1
def top_user_plot_1(df,year):
    TUY=top_user[top_user["Years"]==year]
    TUY.reset_index(drop=True,inplace=True)


    TUYG=pd.DataFrame(TUY.groupby(["States","Quarter"])["RegisteredUsers"].sum())
    TUYG.reset_index(inplace=True)

    figbar1=px.bar(TUYG,x="States",y="RegisteredUsers",color="Quarter",title=f"{year} REGISTERED USERS",hover_name="States",           width=750,height=700,color_discrete_sequence=px.colors.sequential.Burgyl)
    figbar1.show()
    
    return TUY

In [ ]:
#top user plot 2
def top_user_plot_2(df,state):    
    TUYS=TUY1[TUY1["States"]==state]
    TUYS.reset_index(drop=True,inplace=True)
    
    figbar1=px.bar(TUYS,x="Quarter",y="RegisteredUsers",color="RegisteredUsers",title=f"{state}REGISTERED USERS/PINCODES/QUARTER",hover_data="Pincodes", 
                    width=750,height=700,color_discrete_sequence=px.colors.sequential.Magenta)
    st.plotly_chart(figbar1)

### Aggregated Transaction

In [ ]:
Transaction_amount_count_Y_Q(TAC, 3)

In [ ]:
TAC2=Transaction_amount_count_Y(Aggre_transaction,2021)

In [ ]:
Aggre_tran_Transaction_type(TAC2,"Tamil Nadu")

In [ ]:
ATTYQ=Transaction_amount_count_Y_Q(TAC2, 3)
ATTYQ

In [ ]:
ATTYQ

In [ ]:
Aggre_tran_Transaction_type(ATTYQ,"Tamil Nadu")

### Aggregated user

In [ ]:
Aggre_user_Y=Aggre_user_plot_1(Aggre_user,2020)

In [ ]:
Aggre_user_Y_Q=Aggre_user_plot_2(Aggre_user,3)

In [ ]:
Aggre_user_Y_Q

In [ ]:
Aggre_user_plot_3(Aggre_user_Y,"Kerala")

# Map analysis

## map insurance

In [ ]:
MITY=Transaction_amount_count_Y(map_insurance,2023)

In [ ]:
MITY

In [ ]:
Map_ins_dist(MITY,'West Bengal')

In [ ]:
MITYQ=Transaction_amount_count_Y_Q(MITY,3)

In [ ]:
MITYQ

In [ ]:
Map_ins_dist(MITYQ,'Tamil Nadu')

## MAP TRANSACTION

In [ ]:
map_transaction

In [ ]:
MTTY=Transaction_amount_count_Y(map_transaction,2023)

In [ ]:
Map_ins_dist(MTTY,'West Bengal')

In [ ]:
MTTYQ=Transaction_amount_count_Y_Q(MTTY,3)

In [ ]:
Map_ins_dist(MTTYQ,'Tamil Nadu')

## map user

In [42]:
map_user

,States,Years,Quarter,Districts,RegisteredUser,AppOnes
0,Andaman & Nicobar Islands,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar Islands,2018,1,south andaman district,5846,0
2,Andaman & Nicobar Islands,2018,1,nicobars district,262,0
3,Andaman & Nicobar Islands,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar Islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
35131,West Bengal,2023,4,nadia district,1603527,67224546
35132,West Bengal,2023,4,birbhum district,1013025,52281841
35133,West Bengal,2023,4,purba medinipur district,1589203,69991821
35134,West Bengal,2023,4,maldah district,1134600,88292475
35135,West Bengal,2023,4,darjiling district,660231,39079247

In [73]:
#Map user plot 1
def map_user_plot2(df,quarter):
    MUYQ=df[df["Quarter"]==quarter]
    MUYQ.reset_index(drop=True,inplace=True)

    MUYQG=pd.DataFrame(MUYQ.groupby("States")[["RegisteredUser","AppOnes"]].sum())
    MUYQG.reset_index(inplace=True)


    figline1 = px.line(MUYQG, x="States", y=["RegisteredUser", "AppOnes"],
                        title=f"{quarter} REGISTERED USER, APPOPENS", width=1000,height=800, markers=True,
                        color_discrete_sequence=px.colors.sequential.Rainbow)
    figline1.show()

    return MUYQ

In [ ]:
MUY= map_user_plot1(map_user,2020)

In [92]:
MUY

,States,Years,Quarter,Districts,RegisteredUser,AppOnes
0,Andaman & Nicobar Islands,2022,1,north and middle andaman district,10720,904869
1,Andaman & Nicobar Islands,2022,1,south andaman district,63487,2368756
2,Andaman & Nicobar Islands,2022,1,nicobars district,2081,573782
3,Andaman & Nicobar Islands,2022,2,north and middle andaman district,11379,963824
4,Andaman & Nicobar Islands,2022,2,south andaman district,66959,3404740
...,...,...,...,...,...,...
5851,West Bengal,2022,4,nadia district,1359420,33853990
5852,West Bengal,2022,4,birbhum district,855236,20950662
5853,West Bengal,2022,4,purba medinipur district,1346908,38278506
5854,West Bengal,2022,4,maldah district,954892,29023743
5855,West Bengal,2022,4,darjiling district,564562,15982631

In [ ]:
MUYQ=map_user_plot2(MUY,2)

In [ ]:
MUYQ

In [ ]:
map_user_plot3(MUYQ,'Tamil Nadu')

# Top analysis

top_insuarance

In [104]:
top_insurance

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar Islands,2020,2,744301.0,3,565
1,Andaman & Nicobar Islands,2020,2,744104.0,2,513
2,Andaman & Nicobar Islands,2020,2,744101.0,1,282
3,Andaman & Nicobar Islands,2020,3,744112.0,9,3432
4,Andaman & Nicobar Islands,2020,3,744105.0,7,3948
...,...,...,...,...,...,...
10493,West Bengal,2023,4,700135.0,556,939622
10494,West Bengal,2023,4,700091.0,535,767163
10495,West Bengal,2023,4,700015.0,521,683025
10496,West Bengal,2023,4,700059.0,518,843045
10497,West Bengal,2023,4,711102.0,517,769517

In [ ]:
TITY=Transaction_amount_count_Y(top_insurance,2023)

In [ ]:
Top_ins_plot1(TITY,"West Bengal")

In [ ]:
TITY

In [ ]:
TITYQ=Transaction_amount_count_Y_Q(TITY,3)

## top transaction

In [123]:
top_transaction

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar Islands,2018,1,744101.0,1622,2769298
1,Andaman & Nicobar Islands,2018,1,744103.0,1223,2238042
2,Andaman & Nicobar Islands,2018,1,744102.0,969,3519060
3,Andaman & Nicobar Islands,2018,1,744105.0,685,1298561
4,Andaman & Nicobar Islands,2018,1,744104.0,340,1039715
...,...,...,...,...,...,...
17129,West Bengal,2023,4,721301.0,4133775,5718222071
17130,West Bengal,2023,4,700001.0,3983241,8039688940
17131,West Bengal,2023,4,732125.0,3950411,6557344712
17132,West Bengal,2023,4,700039.0,3742452,5608622243
17133,West Bengal,2023,4,700014.0,3652710,6184795262

In [ ]:
TTTY=Transaction_amount_count_Y(top_transaction,2023)

In [ ]:
Top_ins_plot1(TTTY,"West Bengal")

In [ ]:
TTTYQ=Transaction_amount_count_Y_Q(TTTY,3)

## top user

In [ ]:
TUY1=top_user_plot_1(top_user,2020)

In [ ]:
TUY1

In [ ]:
top_user

##questions

In [19]:
def TOPCHARTTA(tablename):
    mydb = pymysql.connect(
        host="localhost",
        user="root",
        password="MYSQL0507",
        database="PhonepeData"
    )
    cursor = mydb.cursor()

    query1=f'''SELECT states,SUM(transaction_amount) as transaction_amount
                FROM {tablename}
                GROUP BY states
                ORDER BY transaction_amount DESC
                LIMIT 10;'''
    cursor.execute(query1)
    table=cursor.fetchall()
    mydb.commit

    df1=pd.DataFrame(table,columns=("states","transaction_amount"))
    figamount1=px.bar(df1,x="states",y="transaction_amount",title="TRANSACTION_AMOUNT",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=450,width=600)
    figamount1.show()

    #query2
    query2=f'''SELECT states,SUM(transaction_amount) as transaction_amount
                FROM {tablename}
                GROUP BY states
                ORDER BY transaction_amount 
                LIMIT 10;'''
    cursor.execute(query2)
    table2=cursor.fetchall()
    mydb.commit

    df2=pd.DataFrame(table2,columns=("states","transaction_amount"))
    figamount2=px.bar(df2,x="states",y="transaction_amount",title="TRANSACTION_AMOUNT",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height=450,width=600)
    figamount2.show()

    #query
    query3=f'''SELECT states,AVG(transaction_amount) as transaction_amount
                FROM {tablename}
                GROUP BY states
                ORDER BY transaction_amount;'''
    cursor.execute(query3)
    table3=cursor.fetchall()
    mydb.commit

    df3=pd.DataFrame(table3,columns=("states","transaction_amount"))
    figamount3=px.bar(df3,y="states",x="transaction_amount",title="TRANSACTION_AMOUNT",hover_name="states",orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered,height=550,width=600)
    figamount3.show()

In [ ]:
TOPCHARTTA("aggregated_transaction")

In [ ]:
TOPCHARTTC("aggregated_transaction")

In [ ]:
TOPCHARTRU("map_user","Tamil Nadu")

In [ ]:
TOPCHARTAO("map_user","Tamil Nadu")

In [ ]:
TOPCHARTRUs("top_user")